<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .dropdown-submenu {
          position: relative;
        }
        
        .dropdown-submenu .dropdown-menu {
          top: 0;
          left: 100%;
          margin-top: -1px;
        }
        </style>
    <title>Book Summary Site</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'book_summary:book_list' %}">BookList</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'book_summary:book_add' %}">本の投稿フォーム</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:user_detail' user.pk %}">マイページ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:user_create' %}">新規登録</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
                    </li>
                    {% endif %}
                  </ul>
                  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'book_summary:book_list' %}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    大カテゴリ
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    {% for topcategory in topcategory_list %}
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="{% url 'book_summary:topcategory' topcategory.pk %}">{{topcategory}} <span class="caret"></span></a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    出版社
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    {% for publisher in publisher_list %}
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="{% url 'book_summary:publisher' publisher.pk %}">{{publisher}} <span class="caret"></span></a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    著者
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    {% for author in author_list %}
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="{% url 'book_summary:author' author.pk %}">{{author}} <span class="caret"></span></a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
  
    
      <script>
          $(document).ready(function(){
            $('.dropdown-submenu a.test').on("click", function(e){
              $(this).next('ul').toggle();
              e.stopPropagation();
              e.preventDefault();
            });
          });
          </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>