{% extends 'base.html' %}
{% block content %}
<table>
        <tr><td><h1>{{book.title}}</h1></td>
            <td><td><a href="{% url 'book_summary:book_update' book.pk %}">編集</a></td></td>>
            <td><a href="{% url 'book_summary:book_delete' book.pk %}">削除</a></td></tr>
        <tr><td>{{book.summary|linebreaksbr}}</td></tr>
        <tr><td>著者:{{book.author}}</td></tr>
        <tr><td>出版社:{{book.publisher}}</td></tr>
        <tr><td>カテゴリ:<a href="{% url 'book_summary:topcategory' book.category.bigcategory.topcategory.pk %}">{{book.category.bigcategory.topcategory}}</a></td>
            <td><a href="{% url 'book_summary:bigcategory' book.category.bigcategory.pk %}">{{book.category.bigcategory}}</a></td>
        <td><a href="{% url 'book_summary:category' book.category.pk %}">{{book.category}}</a></td></tr>
        {% if book.link %}
        <td>Amazonへのリンク:{{book.link}}</td>
        {% endif %}
        <td>{{book.img}}</td>
        <td>{{book.published_date}}</td>
        
</table>
<form action="{% url 'book_summary:comment' book.pk %}" method="POST">
    {{form.non_field_errors}}
    {% for field in form %}
    <div class="form-group">
        <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
        {{field}}
        {{field.errors}}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-dark">送信</button>
</form>
{% for comment in book.comment_set.all %}
<p>
    {{comment.title}}<br>
    {{comment.comment|linebreaksbr}}<br>

    {% if user.is_authenticated %}
    <form action="{% url 'book_summary:comment_delete' comment.pk %}" method="POST">
        <button type="submit">このコメントを削除</button>
        {% csrf_token %}
    </form>
    {% endif %}
</p>
{% endfor %}
{% include 'book_summary/page.html' %}
{% endblock %}